/*для ie*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		padding-right: 10px;
	}
}

@media screen and (max-width: 990px) {
	.b-search-employees__image {
		width: 50%;
	}

	.b-search-employees__info {
		width: 50%;
		padding: 25px 30px 25px;
	}

	.b-advantages__title {
		font-size: 20px;
	}

	.b-advantages__description {
		font-size: 18px;
	}

}

@media screen and (max-width: 980px) {
	.b-useful__item--fourth {
		display: none;
	}

	.b-useful__item {
		width: 33.33%;
	}
}

@media screen and (max-width: 920px) {
	.l-menu {
		display: none;
		float: none;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 100;
		width: 210px;
		height: 100%;
		margin: 0;
		background: rgba(0, 0, 0, 0.75);
	}

	.b-menu {
		float: none;
		margin: 20px 0 0 0;
		font-size: 17px;
	}

	.b-menu-burger {
		display: block;
	}

	.b-menu__item {
		width: 100%;
		padding: 5px 0 5px 25px;
	}

	.b-menu__link:hover, .b-menu__link:focus {
		border-bottom: none;
	}

	.l-menu-checkin {
		float: left;
		margin-left: 25px;
		margin-top: 10px;
	}

	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 50%;
	}

	.b-search__expand {
		width: 100%;
		margin-right: -65px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}

	.b-search__button {
		float: left;
	}

	.b-search__country .dropdown-toggle {
		-webkit-border-bottom-right-radius: 8px;
		-moz-border-bottom-right-radius: 8px;
		border-bottom-right-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-top-right-radius: 8px;
		border-top-right-radius: 8px;
	}

	.b-search__country, .b-search__subject {
		margin-bottom: 20px;
	}

	.b-header-index__filter {
		margin-bottom: 50px;
	}

	.b-scrolling-bottom--white {
		top: 180px
	}

	.b-header-index__title {
		margin: 50px 0 50px;
	}

	.b-search__country .btn-default:before {
		display: none;
	}

	.b-subtitle {
		margin: 65px 0;
	}

	.b-footer-filter {
		display: none;
	}

	.b-footer-menu__item {
		width: 35%;
		display: inline-block;
		padding: 0 0 5px 30px;
	}

	.l-footer-menu-checkin {
		position: absolute;
		right: 15px;
		float: none;
	}

	.b-footer-contact {
		margin-top: 145px;
	}

	.b-footer-social-network {
		margin-top: 45px;
	}

	footer {
		height: 360px;
	}

	body {
		margin-bottom: 360px !important;
	}

	.b-scrolling-top {
		bottom: 50px;
		right: 15px;
	}

	.b-button-useful {
		margin: 80px auto;
	}

	.b-employers-month__fourth {
		display: none;
	}

	.b-employers-month__item {
		width: 33.33%;
	}

	.b-header-base {
		height: 70px;
	}

	.l-logo {
		margin-top: 0;
	}

	.b-menu-burger {
		 margin-top: 1px;
	}

}

@media screen and (min-width: 921px) {
	.b-menu-close {
		display: none !important;
	}

	.l-menu {
		display: block !important;
	}

	.b-menu-burger {
		display: none !important;
	}
}

@media screen and (max-width: 850px) {
	.b-header-about__button {
		width: 200px;
		font-size: 14px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

	.b-header-about__title {
		font-size: 44px;
	}
}

@media screen and (max-width: 800px) {
	.b-popular-categories__item {
		width: 50%;
	}

	.b-popular-categories__item--third {
		display: none;
	}

	.b-popular-categories__item--second {
		text-align: right;
	}

	.b-popular-categories__title {
		font-size: 20px;
	}

	.b-search-employees__subtitle {
		font-size: 24px;
	}

	.b-useful__item--fourth {
		display: block;
	}

	.b-useful__item {
		width: 50%;
		margin-bottom: 20px;
	}

	.b-advantages__description {
		display: none;
	}

	.b-advantages__title {
		margin-bottom: 25px;
		font-size: 18px;
	}
}

@media screen and (max-width: 700px) {
	.b-header-index__title {
		font-size: 50px;
	}

	.bootstrap-select > .dropdown-toggle {
		padding: 12px 20px 8px;
	}

	.b-search__subject .btn-default:before {
		top: 10px;
		height: 25px;
	}

	.dropdown-toggle, .dropdown-menu {
		font-size: 16px;
	}

	.b-search__country, .b-search__subject {
		margin-bottom: 12px;
	}

	.b-search__button {
		width: 45px;
		height: 45px;
		background: url("../image/sprite/search-mobile.png") no-repeat;
	}

	.dropdown-toggle {
		height: 44px;
	}

	.b-search__button:hover, .b-search__button:focus {
		background: url("../image/sprite/search-mobile.png") no-repeat;
	}

	.b-search__expand {
		height: 45px;
		margin-right: -45px;
		padding: 14px 20px 13px;
	}

	.b-employment__text {
		display: none;
	}

	.b-employment__item {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.b-employment__button {
		color: #ffffff;
		background: #46C983;
	}

	.b-header-index__button {
		width: 100%;
		max-width: 200px;
		padding: 8px 10px;
	}

	.b-scrolling-bottom {
		display: none;
	}

	.b-header-index {
		height: 600px;
		background: url(../image/base/index-cover.png) no-repeat 80% bottom;
	}

	.b-subtitle {
		margin: 50px 0;
		font-size: 24px;
	}

	.b-button-catalog {
		max-width: 300px;
		margin: 50px auto;
		padding: 15px 0;
	}

	.b-search-employees__text {
		font-size: 14px;
	}

	.b-search-employees__info {
		padding: 20px;
	}

	.b-search-employees__subtitle {
		font-size: 22px;
	}

	.b-footer-contact__email, .b-footer-contact__phone {
		margin: 7px 0 0;
		font-size: 18px;
	}

	.l-footer-menu-checkin {
		top: 40px;
	}

	.b-employers-month__fourth {
		display: block;
	}

	.b-employers-month__item {
		width: 50%;
	}

	.b-employers-month__item {
		margin-bottom: 50px;
	}

	.b-employers-month {
		margin-bottom: 30px;
	}

	.b-header-about__title {
		margin: 70px auto 70px;
		font-size: 34px;
	}

	.b-header-about {
		height: 600px;
	}

	.b-advantages {
		margin-bottom: 80px;
	}

	.b-team__item {
		float: left;
		width: 50%;
	}

}

@media screen and (max-width: 670px) {
	.b-advantages__item {
		float: none;
		width: 100%;
		margin-bottom: 50px;
	}

	.b-advantages__title {
		margin-bottom: 15px;
	}

	.b-advantages {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 640px) {
	.l-footer-menu {
		float: none;
		width: 100%;
		margin: 0;
	}

	.b-footer-menu__item {
		width: 35%;
		display: inline-block;
		padding: 10px 0 0 0;
	}

	.b-footer-menu {
		margin-top: 20px;
	}

	.b-footer-contact {
		margin-top: 35px;
	}

	footer {
		height: 380px;
	}

	body {
		margin-bottom: 380px !important;
	}

	.b-scrolling-top {
		bottom: 30px;
	}

	.b-useful__item {
		margin-bottom: 13px;
	}

}

@media screen and (max-width: 560px) {
	.b-footer-contact__item {
		float: none;
		width: 100%;
		margin: 0 0 15px;
		text-align: left;
	}

	footer {
		height: 460px;
	}

	body {
		margin-bottom: 460px !important;
	}

	.b-footer-social-network {
		margin-top: 25px;
		text-align: left;
	}
}

@media screen and (max-width: 520px) {
	.b-popular-categories__item {
		float: none;
		width: 100%;
	}

	.b-popular-categories__item--first {
		text-align: center;
		margin-bottom: 25px;
	}

	.b-popular-categories__item--second {
		text-align: center;
	}

	.b-search-employees__image {
		width: 100%;
	}

	.b-search-employees__info {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.b-header-index__title {
		font-size: 40px;
	}

	.dropdown-toggle, .dropdown-menu {
		font-size: 14px;
	}

	.b-search__expand {
		padding: 15px 20px 14px;
		font-size: 14px;
	}

	.b-subtitle {
		font-size: 22px;
	}

	.b-search-employees__subtitle {
		font-size: 20px;
	}

	.b-useful__title {
		font-size: 14px;
	}

	.b-useful__date {
		height: 33px;
		width: 100px;
		font-size: 14px;
	}
}

@media screen and (max-width: 475px) {
	.b-header-about__title {
		font-size: 26px;
	}

	.b-team__item {
		float: none;
		width: 100%;
		height: auto;
		margin-bottom: 40px;
	}

	.b-button-team {
		margin: 60px auto 100px;
	}
}

@media screen and (max-width: 450px) {
	.b-useful__item {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.b-useful__title {
		font-size: 16px;
	}

	.b-employers-month__item {
		float: none;
		width: 100%;
	}

	.b-employers-month__item {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 420px) {
	.b-footer-menu__item {
		width: 49%;
	}

	.b-footer-social-network__instagram {
		margin: 0 20px;
	}
}

@media screen and (max-width: 340px) {
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
	}

	.b-search__subject .btn-default:before {
		display: none;
	}

	.b-search__subject .dropdown-toggle, .b-search__country .dropdown-toggle {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

	.b-search__expand {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}

	.b-header-index__title {
		margin: 35px 0;
		font-size: 28px;
	}

	.b-search__country, .b-search__subject {
		margin-bottom: 8px;
	}

	.b-employment__item {
		margin-bottom: 10px;
	}

	.b-header-index__filter {
		margin-bottom: 40px;
	}

	.b-header-index {
		height: 540px;
	}

	.b-button-catalog--hidden {
		display: none;
	}
}

@media screen and (max-width: 315px) {
	.b-footer-menu__item {
		width: 100%;
	}

	.b-footer-menu {
		margin-top: 10px;
	}

	.b-footer-contact {
		margin-top: 25px;
	}

	.b-footer-contact__item {
		margin: 0 0 10px;
	}

	footer {
		height: 530px;
	}

	body {
		margin-bottom: 530px !important;
	}

	.b-header-about__title {
		font-size: 22px;
	}

	.b-header-about__button {
		width: 190px;
		font-size: 14px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}

@media screen and (max-width: 300px) {
	.l-menu {
		width: 180px;
	}

	.b-menu-close {
		right: 190px;
	}

	.b-scrolling-top, .l-footer-menu-checkin {
		display: none;
	}

	.b-useful__title {
		font-size: 14px;
	}

}