html {
	position: relative;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin-bottom: 500px !important;
	color: #333333;
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Light/OpenSans-Light.eot");
	src: local('O'),
	url("../fonts/OpenSans-Light/OpenSans-Light.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"),
	url("../fonts/OpenSans-Light/OpenSans-Light.woff2") format("woff2"),
	url("../fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"),
	url("../fonts/OpenSans-Light/OpenSans-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular/OpenSans-Regular.eot");
	src: local('O'),
	url("../fonts/OpenSans-Regular/OpenSans-Regular.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans-Regular/OpenSans-Regular.woff") format("woff"),
	url("../fonts/OpenSans-Regular/OpenSans-Regular.woff2") format("woff2"),
	url("../fonts/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"),
	url("../fonts/OpenSans-Regular/OpenSans-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
	src: local('O'),
	url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?") format("embedded-opentype"),
	url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"),
	url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff2") format("woff2"),
	url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"),
	url("../fonts/OpenSans-Semibold/OpenSans-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Thin/Roboto-Thin.eot");
	src: local('O'),
	url("../fonts/Roboto-Thin/Roboto-Thin.eot?") format("embedded-opentype"),
	url("../fonts/Roboto-Thin/Roboto-Thin.woff") format("woff"),
	url("../fonts/Roboto-Thin/Roboto-Thin.woff2") format("woff2"),
	url("../fonts/Roboto-Thin/Roboto-Thin.ttf") format("truetype"),
	url("../fonts/Roboto-Thin/Roboto-Thin.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

/*@font-face {*/
/*font-family: 'Glyphicons Halflings';*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');*/
/*src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),*/
/*url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
/*}*/

/*@font-face {*/
/*font-family: 'FontAwesome';*/
/*src: url('../bootstrap/fonts/fontawesome-webfont.eot');*/
/*src: url('../bootstrap/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.woff2') format('woff2'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.woff') format('woff'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.ttf') format('truetype'),*/
/*url('../bootstrap/fonts/fontawesome-webfont.svg') format('svg');*/
/*}*/

a img {
	border: none;
	outline: none !important;
}

a {
	outline: none !important; /* убирает обводку у кнопок и ссылок */
}

a:hover, a:active {
	outline: 0;
}

.image_hover {
	position: absolute;
}

.image_upper {
	position: relative;
}

.image_upper:hover {
	opacity: 0;
}

/* для iphone - убирает автоматическое откругление уголов */
input[type="text"], input[type="password"], textarea {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	-webkit-appearance: none;
	line-height: inherit;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input[placeholder] {
	text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
	color: #646470;
	font-size: 16px;
	text-overflow: ellipsis;
}

input::-moz-placeholder {
	color: #646470;
	opacity: 1 !important;
	font-size: 16px;
	text-overflow: ellipsis;
}

/*main style*/

.l-container {
	width: 100%;
	max-width: 990px;
	margin: auto;
	padding: 0 15px;
	/*border: 1px solid red;*/
}

.l-container:before, .l-container:after {
	display: table;
	content: ' ';
	clear: both;
}

.b-scrolling-bottom {
	position: relative;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.b-scrolling-bottom--white {
	top: 210px;
	background: url("../image/sprite/arrows-round.png") no-repeat bottom center;
}

.b-scrolling-bottom--green {
	margin-bottom: 50px;
	background: url("../image/sprite/arrows-round.png") no-repeat 0 100%;
}

.b-scrolling-top {
	position: absolute;
	right: 10%;
	bottom: 71px;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.b-scrolling-top--green {
	background: url("../image/sprite/arrows-round.png") no-repeat center center;
}

.b-base-button {
	display: inline-block;
	padding: 6px 17px;
	border: 1px solid #46c983;
	color: #46c983;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.b-base-button--grey {
	border: 1px solid #646470;
	color: #646470;
}

.b-base-button:hover, .b-base-button:focus {
	text-decoration: none;
	color: #ffffff;
	background: #46c983;
}

.b-base-button--grey:hover, .b-base-button--grey:focus {
	border: 1px solid #46c983;
}

.b-link {
	color: #46c983;
}

.b-link:hover {
	color: #4DDE90;
	text-decoration: none;
}

/*footer*/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 500px;
	padding: 35px 0 15px;
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
	background: #646470;
}

.b-footer-filter {
	margin-top: 115px;
	text-align: center;
}

.l-footer-menu {
	float: right;
	width: 78%;
	margin-top: 10px;
}

.b-footer-menu {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.b-footer-menu__item {
	list-style: none;
	display: inline-block;
	padding-right: 20px;
}

.b-footer-menu__link {
	color: #ffffff;
}

.b-footer-menu__link:hover, .b-footer-menu__link:focus {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.b-footer-menu__link--active {
	border-bottom: 1px solid #ffffff;
}

.l-footer-menu-checkin {
	float: right;
}

.b-footer-menu-checkin {
	display: inline-block;
	font-size: 16px;
}

.b-footer-menu-checkin__enter {
	display: block;
	padding: 4px 12px 5px;
	margin-top: -4px;
	color: #646470;
	background: rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.b-footer-menu-checkin__enter:hover, .b-footer-menu-checkin__enter:focus {
	text-decoration: none;
	color: #4DDE90;
	background: rgb(255, 255, 255);
}

.b-footer-menu-checkin__out {
	display: none;
	text-decoration: none;
	color: #ffffff;
}

.b-footer-menu-checkin__out:before {
	content: ' ';
	float: left;
	width: 30px;
	height: 40px;
	margin: -7px 10px 0 0;
	background: url("../image/sprite/out.png") no-repeat;
}

.b-footer-menu-checkin__out:hover, .b-footer-menu-checkin__out:focus {
	color: #ffffff;
	text-decoration: none;
}

.b-footer-menu-checkin__out:hover .b-footer-menu-checkin__text, .b-footer-menu-checkin__out:focus .b-footer-menu-checkin__text {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.b-footer-menu-checkin__out:hover:before {
	color: #ffffff;
	background: url("../image/sprite/out.png") no-repeat 73% 0;
}

.b-footer-contact {
	margin-top: 67px;
}

.b-footer-contact__item {
	float: left;
	width: 33.33%;
	margin: auto;
	text-align: center;
}

.b-footer-contact__email, .b-footer-contact__phone {
	font-size: 22px;
	font-weight: 300;
}

.b-footer-contact__feedback {
	display: inline-block;
	padding: 6px 17px;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.b-footer-contact__feedback:hover, .b-footer-contact__feedback:focus {
	text-decoration: none;
	color: #646470;
	background: #ffffff;
}

.b-footer-social-network {
	margin-top: 65px;
	text-align: center;
}

.b-footer-social-network__item {
	display: inline-block;
}

.b-footer-social-network__link {
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.b-footer-social-network__vk {
	background: url("../image/sprite/social-network.png") no-repeat;
}

.b-footer-social-network__vk:hover {
	background: url("../image/sprite/social-network.png") no-repeat 73% 57%;
}

.b-footer-social-network__instagram {
	margin: 0 40px;
	background: url("../image/sprite/social-network.png") no-repeat 73% 0;
}

.b-footer-social-network__instagram:hover {
	background: url("../image/sprite/social-network.png") no-repeat 36% 57%;
}

.b-footer-social-network__facebook {
	background: url("../image/sprite/social-network.png") no-repeat 0 57%;
}

.b-footer-social-network__facebook:hover {
	background: url("../image/sprite/social-network.png") no-repeat 36% 0;
}

/*headers*/

.b-header-index {
	width: 100%;
	height: 700px;
	background: url(../image/base/index-cover.png) no-repeat center;
}

.b-header {
	margin-top: 25px;
}

.l-logo {
	float: left;
	width: 20%;
	margin-top: 5px;
}

.l-menu {
	float: right;
	width: 78%;
	margin-top: 10px;
}

.b-menu {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.b-menu__item {
	list-style: none;
	display: inline-block;
	padding-right: 20px;
}

.b-menu__link {
	color: #ffffff;
}

.b-menu__link:hover, .b-menu__link:focus {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.b-menu__link--active {
	border-bottom: 1px solid #ffffff;
}

.l-menu-checkin {
	float: right;
}

.b-menu-checkin {
	display: inline-block;
	font-size: 16px;
}

.b-menu-checkin__enter {
	display: block;
	padding: 4px 12px 5px;
	margin-top: -4px;
	color: #646470;
	background: rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.b-menu-checkin__enter:hover, .b-menu-checkin__enter:focus {
	text-decoration: none;
	color: #4DDE90;
	background: rgb(255, 255, 255);
}

.b-menu-checkin__out {
	display: none;
	text-decoration: none;
	color: #ffffff;
}

.b-menu-checkin__out:before {
	content: ' ';
	float: left;
	width: 30px;
	height: 40px;
	margin: -7px 10px 0 0;
	background: url("../image/sprite/out.png") no-repeat;
}

.b-menu-checkin__out:hover, .b-menu-checkin__out:focus {
	color: #ffffff;
	text-decoration: none;
}

.b-menu-checkin__out:hover .b-menu-checkin__text, .b-menu-checkin__out:focus .b-menu-checkin__text {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.b-menu-checkin__out:hover:before {
	color: #ffffff;
	background: url("../image/sprite/out.png") no-repeat 73% 0;
}

.b-header-index__title {
	margin: 60px 0 50px;
	text-align: center;
	font-size: 60px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #ffffff;
}

.b-search__button {
	content: ' ';
	width: 65px;
	height: 65px;
	vertical-align: bottom;
	border: none;
	outline: none;
	background: url("../image/sprite/search.png") no-repeat;
}

.b-search__button:hover, .b-search__button:focus {
	background: url("../image/sprite/search.png") no-repeat 100% 0;
}

.b-search {
	display: inline-block;
}

.b-header-index__filter {
	margin-bottom: 70px;
	text-align: center;
}

.b-menu-burger {
	display: none;
	float: right;
	width: 24px;
	height: 24px;
	margin-top: 7px;
	cursor: pointer;
	background: url("../image/sprite/menu.png") no-repeat;
}

.b-menu-close {
	display: none;
	position: fixed;
	z-index: 100;
	right: 230px;
	width: 30px;
	height: 30px;
	margin-top: 7px;
	cursor: pointer;
	background: url("../image/sprite/cancel.png") rgba(0, 0, 0, 0.08) no-repeat center;
}

/*select in header*/

.select-arrow {
	position: relative;
	right: 10px;
	display: inline-block;
	height: 15px !important;
	width: 15px;
	margin-top: 3px;
	text-align: right;
	background: url(../image/sprite/arrows-bottom-top.png) no-repeat;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	/*width: 28%;*/
	width: 255px;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
	color: #646470;
	background: rgba(255, 255, 255, 0.80);
	border: none;
}

.btn-default:hover {
	color: #646470;
	background: rgba(255, 255, 255, 0.80);
	border: none;
}

.btn-default {
	border: none;
}

.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dropdown-toggle {
	height: 65px;
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.btn:active, .btn.active {
	box-shadow: none;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #646470;
	background: rgba(255, 255, 255, 0.80);
	border: none;
}

.btn-default:focus, .btn-default.focus {
	background: rgba(255, 255, 255, 0.80);
}

.dropdown-toggle, .dropdown-menu {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	color: #646470;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.b-search .dropdown-menu {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: rgba(255, 255, 255, 0.80);
}

.bootstrap-select.btn-group .dropdown-menu {
	min-width: 90%;
	left: 5%;
	margin-top: 0;
	border-top: 1px solid #ebebeb;
}

.b-search .bootstrap-select.btn-group .dropdown-menu.inner {
	background: none;
}

.b-search .dropdown-menu > li > a, .b-search .dropdown-menu > li > a:focus {
	color: #646470;
	background: none;
	outline: none;
}

.b-search .btn-default:focus {
	color: #646470;
	outline: none;
}

.b-search .dropdown-menu > li > a:hover {
	color: #4DDE90;
	background: none;
}

.bootstrap-select > .dropdown-toggle {
	width: 100%;
	padding: 20px 30px;
	background: rgba(255, 255, 255, 0.80);
}

.b-search__subject .dropdown-toggle {
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
}

.b-search .btn {
	background: rgba(255, 255, 255, 0.80);
}

.b-search__subject .btn-default:before, .b-search__country .btn-default:before {
	content: '';
	position: absolute;
	right: 0;
	top: 14px;
	display: inline-block;
	width: 1px;
	border-right: 1px solid #ffffff;
	height: 40px;
}

.b-search__subject {
	display: block !important;
	float: left !important;
}

.b-search__country {
	display: block !important;
	float: left !important;
}

/*select end*/

.b-search__expand {
	display: block;
	float: left;
	width: 273px;
	height: 65px;
	padding: 24px 30px 23px;
	outline: none;
	border: none;
	font-size: 16px;
	color: #646470;
	background: rgba(255, 255, 255, 0.80);
}

.b-employment__item {
	float: left;
	width: 33.33%;
	text-align: center;
}

.b-employment__text {
	max-width: 200px;
	margin: 0 auto 15px;
	line-height: 1.2;
	font-size: 30px;
	font-weight: 300;
	color: #646470;
}

.b-employment__number {
	font-weight: 600;
}

.b-employment__button {
	display: inline-block;
	font-size: 16px;
	color: #646470;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.80);
}

.b-header-index__button {
	width: 185px;
	padding: 6px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.b-employment__button:hover, .b-employment__button:focus {
	text-decoration: none;
	color: #ffffff;
	background: #46C983;
}

/*main page*/

.b-subtitle {
	margin: 80px 0;
	font-size: 30px;
	font-weight: 300;
	color: #4d414a;
	text-align: center;
	text-transform: uppercase;
}

.l-popular-categories {
	text-align: center;
}

.b-popular-categories__item {
	float: left;
	width: 33.33%;
}

.b-popular-categories__image {
	width: 100%;
}

.b-popular-categories__link {
	position: relative;
	display: inline-block;
	width: 98%;
	background: #4d414a;
}

.b-popular-categories__item--first {
	text-align: left;
}

.b-popular-categories__item--second {
	text-align: center;
}

.b-popular-categories__item--third {
	text-align: right;
}

.b-popular-categories__image {
	opacity: 0.6;
}

.b-popular-categories__link:hover {
	background: #ffffff;
}

.b-popular-categories__link:hover .b-popular-categories__image {
	opacity: 0.45;
}

.b-popular-categories__link:hover .b-popular-categories__title {
	color: #4d414a;
}

.b-popular-categories__title {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
}

.b-popular-categories__tag {
	font-weight: 600;
}

.b-button-catalog {
	width: 100%;
	max-width: 345px;
	margin: 60px auto;
	padding: 20px 0;
	text-transform: uppercase;
}

.l-info-employment {
	padding: 30px 0 10px;
	background: #f5f2ed;
}

.b-search-employees {
	margin-bottom: 20px;
	background: #ffffff;
}

.b-search-employees__image {
	width: 58%;
	max-width: 100%;
}

.b-search-applicant__image, .b-search-applicant__info {
	float: left;
}

.b-search-camp__image, .b-search-camp__info {
	float: right;
}

.b-search-employees__info {
	width: 42%;
}

.b-search-employees__info {
	padding: 30px 30px 5px;
}

.b-search-employees__text {
	font-size: 16px;
	font-weight: 300;
}

.b-search-employees__subtitle {
	margin: 0 0 15px;
	font-size: 28px;
	font-weight: 300;
}

.b-search-employees__button {
	margin-top: 5px;
}

.l-useful {
	text-align: center;
	background: #ffffff;
}

.b-useful__item {
	float: left;
	width: 25%;
}

.b-useful__image {
	width: 100%;
	opacity: 0.6;
}

.b-useful__no-image {
	width: 100%;
}

.b-useful__link {
	position: relative;
	display: inline-block;
	width: 95%;
}

.b-useful__link--image {
	background: #4d414a;
}

.b-useful__link--no-image {
	background: #f5f2ed;
}

.b-useful__title {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	margin: 0;
	padding: 0 6px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}

.b-useful__link--image:hover {
	background: #ffffff;
}

.b-useful__link--image:hover .b-useful__image {
	opacity: 0.45;
}

.b-useful__link--no-image:hover .b-useful__no-image {
	opacity: 0;
}

.b-useful__link--image:hover .b-useful__title {
	color: #4d414a;
}

.b-useful__link--no-image:hover .b-useful__title {
	color: #4d414a;
}

.b-useful__link:hover .b-activity__icon--view {
	background: url("../image/sprite/useful-icons.png") no-repeat 0 0;
}

.b-useful__link:hover .b-activity__icon--reviews {
	background: url("../image/sprite/useful-icons.png") no-repeat 0 50%;
}

.b-useful__link:hover .b-activity__icon--participant {
	background: url("../image/sprite/useful-icons.png") no-repeat 0 98%;
}

.b-useful__link:hover .b-activity__number {
	color: #4d414a;
	text-decoration: none;
}

.b-useful__link:hover {
	text-decoration: none;
}

.b-useful__date {
	position: absolute;
	z-index: 1;
	height: 37px;
	width: 106px;
	margin: 0;
	padding: 7px 0;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}

.b-useful__date--green {
	color: #ffffff;
	background: #46C983;
}

.b-useful__date--white {
	color: #46C983;
	background: #ffffff;
}

.b-useful__activity {
	position: absolute;
	bottom: 5px;
	left: 5px;
	text-align: left;
}

.b-activity__icon {
	content: '';
	display: inline-block;
	width: 14px;
	height: 10px;
}

.b-activity__icon--view {
	background: url("../image/sprite/useful-icons.png") no-repeat 98% 0;
}

.b-activity__icon--reviews {
	background: url("../image/sprite/useful-icons.png") no-repeat 98% 50%;
}

.b-activity__icon--participant {
	background: url("../image/sprite/useful-icons.png") no-repeat 98% 98%;
}

.b-activity__item {
	margin: 0 0 -2px;
}

.b-activity__number {
	font-size: 14px;
	color: #ffffff;
}

.b-useful__item {
	text-align: center;
}

.b-button-useful {
	width: 100%;
	max-width: 345px;
	margin: 100px auto;
	padding: 20px 0;
	text-transform: uppercase;
}

.l-employers-month {
	background: #fff4cf;
}

.b-employers-month__item {
	float: left;
	width: 25%;
	text-align: center;
}

.b-employers-month__title {
	margin: 20px 0 2px;
	font-size: 16px;
	color: #4d414a;
}

.b-employers-month__image {
	width: 100%;
	max-width: 141px;
}

.b-employers-month__place {
	margin: 0 0 18px;
	font-weight: 300;
	font-size: 16px;
	color: #646470;
}

.b-employers-month {
	margin-bottom: 90px;
}

/*about page*/

.b-header-about {
	width: 100%;
	height: 700px;
	background: url(../image/base/about-header.png) no-repeat center;
}

.b-header-about__title {
	max-width: 780px;
	margin: 90px auto 110px;
	text-align: center;
	line-height: 1.2;
	font-size: 48px;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #ffffff;
}

.b-header-about__button {
	width: 240px;
	padding: 15px 10px;
	text-transform: uppercase;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.b-header-about__scrolling {
	top: 165px;
}

.b-advantages {
	margin-bottom: 100px;
	text-align: center;
}

.b-advantages__item {
	float: left;
	width: 33.33%;
}

.b-advantages__image {
	display: inline-block;
	width: 100px;
}

.b-advantages__image--first {
	height: 100px;
	background: url("../image/sprite/advantages.png") no-repeat 100% 0;
}

.b-advantages__image--second {
	height: 95px;
	margin-top: 5px;
	background: url("../image/sprite/advantages.png") no-repeat 0 98%;
}

.b-advantages__image--third {
	height: 100px;
	background: url("../image/sprite/advantages.png") no-repeat;
}

.b-advantages__title {
	font-size: 24px;
	font-weight: 600;
}

.b-advantages__description {
	margin: 0 0 30px;
	padding: 0 5px;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
}

.b-advantages__button {
	width: 170px;
	padding: 6px 5px;
}

.l-team {
	text-align: center;
	background: #f5f2ed;
}

.b-team__item {
	float: left;
	width: 33.33%;
	height: 290px;
	text-align: center;
}

.b-team__image {
	width: 100%;
	max-width: 145px;
	border-radius: 50%;
}

.b-team__name {
	margin: 25px 0 5px;
	font-size: 16px;
	color: #4d414a;
}

.b-team__description {
	font-size: 16px;
	color: #646470;
}

.b-button-team{
	width: 100%;
	max-width: 345px;
	margin: 60px auto 130px;
	padding: 20px 0;
	text-transform: uppercase;
}
